* {box-sizing: border-box;}
body {background-color: #fff;}
a, a:hover, a:active, a:focus, a:visited {color: #000; text-decoration: none;}
ul li {list-style-type: none; margin: 0; padding: 0;}

body {
	background-image: url(../images/bg-img.jpg);
}

.wrapper {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .4);
	/*margin-top: 70px;*/
}

.header {
	padding: 35px 0 0;
}

.contacts_flex-container {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.header_contacts-phone {
	font-family: 'RobotoBold';
	font-size: 24px;
	color: #595e49;
}

.header_contacts-mail {
	font-family: 'RobotoRegular';
	font-size: 20px;
	color: #595e49;
}

.header_search {
	position: relative;
	margin: 28px 0 50px;
	max-width: 250px;
}

.header_search__input {
	padding: 10px 35px 10px 14px;
	width: 100%;
	border: 2px solid #9ac409;
	border-radius: 30px;
	background-color: #fff;
	outline: none;
	color:#6d841f;
	font-family: 'RobotoRegular';
	font-size: 14px;
}

.header_search__input::-webkit-input-placeholder {color:#6d841f; font-family: 'RobotoRegular'; font-size: 14px;}
.header_search__input::-moz-placeholder          {color:#6d841f; font-family: 'RobotoRegular'; font-size: 14px;}/* Firefox 19+ */
.header_search__input:-moz-placeholder           {color:#6d841f; font-family: 'RobotoRegular'; font-size: 14px;}/* Firefox 18- */
.header_search__input:-ms-input-placeholder      {color:#6d841f; font-family: 'RobotoRegular'; font-size: 14px;}

.header_search__submit {
	background: url('../images/ic_search_black_24px.svg') 0 0 no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	border: none;
	position: absolute;
	top: 30%;
	right: 10px;
	padding: 0;
}


/*navbar Begin*/
.navbar ul {
	background-color: #9ac409;
	border-bottom: 4px #6d841f solid;
	margin: 0 -22px;
	padding-left: 25px;
}
.navbar ul li {
	display: inline-block;
	padding: 11px 18px 8px;
}
.navbar ul li a, .navbar ul li span {
	font-family: "RobotoRegular";
	font-size: 20px;
	color: #fafeee;
}

.navbar ul li, .navbar ul li a:hover {
	color: #dadece;
}

.navbar-toggle {
	background-color: #9ac409;
}

.navbar-toggle-button {
	float: right;
}

.navbar-toggle-button {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

.navbar-toggle-button span:after,
.navbar-toggle-button span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.navbar-toggle-button span:after{
  top: 9px;
}
.navbar-toggle-button span {
  position: relative;
  display: block;
}

.navbar-toggle-button span,
.navbar-toggle-button span:after,
.navbar-toggle-button span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
.navbar-toggle-button.on span {
  background-color: transparent;
}
.navbar-toggle-button.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.navbar-toggle-button.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
.navbar-toggle-button.on + #menu {
  opacity: 1;
  display: block;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  opacity: 0;
  display: none;
  transition: opacity .4s;
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #8ab400;
  color: #fff;
}

.navbar_line-flex-container{
	display: flex;
	justify-content: space-between;
}

.navbar_line-angle_left {
	position: relative;
	top: -3px;
	right: 5px;
}

.navbar_line-angle_right {
	float: right;
	position: relative;
	top: -3px;
	right: -5px;
}

/* dropDown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8ab400;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #9ac409}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*navbar End*/

/*slider Begin*/
.carousel {
	margin-top: -8px;
}

.carousel-control {
	display: flex;
	align-items: center;
}

.carousel-caption {
	width: 230px;
	height: 70px;
}
.carousel-caption-1 {
    top: 67%;
    left: 70%;
}
.carousel-caption-2 {
    top: 7%;
    left: 10%;
}
.carousel-caption-3 {
    top: 67%;
    left: 70%;
}
.carousel-caption-4 {
    top: 7%;
    left: 10%;
}
.carousel-caption-5 {
    top: 67%;
    left: 70%;
}

.carousel-caption-box {
	background-color: #fff;
	border: 7px rgba(130, 130, 130, .3) solid;
	border-radius: 5px;

}
/*slider End*/

/*manufacturer Begin*/
.manufacturer-list {
}

.manufacturer ul a{
	width: 20%;
	margin-left: -4px;
	display: inline-block;
	border-right-width: 1px;
    border-right-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(#b5b5b5), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, #b5b5b5, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, #b5b5b5, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, #b5b5b5, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, #b5b5b5, rgba(0, 0, 0, 0)) 1 100%;
}
.manufacturer ul a:last-child {border: none;}
.manufacturer ul a:hover {
	background-color: #efefef;
}

.manufacturer ul a li{
	padding: 0;
}

.manufacturer-line{
	height: 15px;
	background: rgba(190,190,190,1);
background: -moz-linear-gradient(top, rgba(190,190,190,1) 0%, rgba(176,176,176,1) 47%, rgba(161,161,161,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(190,190,190,1)), color-stop(47%, rgba(176,176,176,1)), color-stop(100%, rgba(161,161,161,1)));
background: -webkit-linear-gradient(top, rgba(190,190,190,1) 0%, rgba(176,176,176,1) 47%, rgba(161,161,161,1) 100%);
background: -o-linear-gradient(top, rgba(190,190,190,1) 0%, rgba(176,176,176,1) 47%, rgba(161,161,161,1) 100%);
background: -ms-linear-gradient(top, rgba(190,190,190,1) 0%, rgba(176,176,176,1) 47%, rgba(161,161,161,1) 100%);
background: linear-gradient(to bottom, rgba(190,190,190,1) 0%, rgba(176,176,176,1) 47%, rgba(161,161,161,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#a1a1a1', GradientType=0 );
}
/*manufacturer End*/

/*manufacturer slider*/
.row-flex {
	display: flex;
	justify-content: center;
}
/*manufacturer slider End*/

/*equipment section*/
.equipment-title {
	font-family: "RobotoRegular";
	font-size: 24px;
	color: #595e49;
	padding: 30px 25px 15px 10px;
	border-bottom: 2px #9ac409 solid;
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 30px;
}

.equipment-line {
	border-bottom: 2px #ebf3ce solid;
}

.equipment .container {
	padding: 35px;
}

.equipment_box {
	width: 250px;
	height: 250px;
	background: #534741;
	border-radius: 5px;
	margin:0 0 35px 0;
}
.equipment_box img {
	overflow: hidden;
}
.equipment_box-title {
	font-family: "RobotoBold";
	font-size: 16px;
	color: #fcfff4;
	text-transform: uppercase;
	text-align: center;
	margin-top: 12px;
}
/*equipment section End*/


/*about section*/
.about-title {
	font-family: "RobotoRegular";
	font-size: 24px;
	color: #595e49;
	padding: 30px 25px 15px 10px;
	border-bottom: 2px #9ac409 solid;
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 30px;
}

.about-line {
	border-bottom: 2px #ebf3ce solid;
	margin-top: -70px;
}

.about_text {
	font-family: "RobotoRegular";
	font-size: 16px;
	color: #4f5341;
	padding: 30px 50px;
	background: #f0f6da;
}

.about_text-bold {
	font-family: "RobotoBold";
}
/*about section End*/

/*offers section*/
.offers-title {
	font-family: "RobotoRegular";
	font-size: 24px;
	color: #595e49;
	padding: 30px 25px 15px 10px;
	border-bottom: 2px #9ac409 solid;
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 30px;
}

.offers-line {
	border-bottom: 2px #ebf3ce solid;
	margin-bottom: 35px;
}

.offers-container {
	background: url('../images/offers-bg.png') 0 0;
	background-size: cover;
}

.offers_block {
	background: #9ac409;
	border: 7px #e7ecdc solid;
	border-radius: 50%;
	height: 160px;
	width: 160px;
	margin: 35px auto 25px auto;
}

.offers_block-flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.offers_block-text {
	font-family: "RobotoRegular";
	font-size: 20px;
	color: #4f5341;
	text-align: center;
	margin-bottom: 35px;
}
/*offers section End*/

/*map section*/
.map-title {
	font-family: "RobotoRegular";
	font-size: 24px;
	color: #595e49;
	padding: 30px 25px 15px 10px;
	border-bottom: 2px #9ac409 solid;
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 30px;
}

.map-line {
	border-bottom: 2px #ebf3ce solid;
	margin-bottom: 35px;
}
/*map section End*/

/*footer*/
.footer {
	background-color: #f0f6da;
	border-top: 1px #dfecb0 solid;
	border-bottom: 1px #fff solid;
	padding-bottom: 30px;
	padding-top: 20px;
}

.footer_text {
	padding-top: 15px;
	font-size: 14px;
	color: #595e49;
	font-family: "RobotoRegular";
}

.footer_text-bottom-maximum {
	font-family: "RobotoBold";
	color: #9ac409;
}

.footer_navbar {
	margin-top: 20px;
}

.footer_navbar ul li, .footer_navbar ul li a{
	font-family: "RobotoRegular";
	padding: 0;
	font-size: 14px;
	color: #595e49;
}

.footer_navbar-hidden {
	display: none;
}
.footer_navbar ul li a:hover {
	background-color: transparent;
	/*border-bottom: 1px #595e49 solid;*/
	text-decoration: underline;
}
.footer_navbar ul li:hover .footer_navbar-hidden {
	display: block;
}

.footer-contacts {
	padding-top: 20px;
}
/*footer End*/