@media screen and (max-width: 991px) {
	.header_search {
    position: relative;
    margin: 10px 0 20px;
	}
	.center_flex-container {
		display: flex;
		justify-content: center;
	}
	
/*	.manufacturer ul a li img{
	width: 160px;
	}*/
/*	.dropdown-content {
		display: block;
		position: relative;
	}*/
}
/*@media (min-width: 768px) and (max-width: 991px) {
	.manufacturer ul a li img{
	width: 150px;
	}
}*/
/*@media screen and (max-width: 991px) {
	.manufacturer ul a li img{
	width: 180px;
	}
}*/
/*!!!!!! Manufacturer*/
@media screen and (max-width: 1200px) {
	.manufacturer ul a li img{
	width: 200px;
	}
}
